doctype html
head
  title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='style.css')
  link(rel='stylesheet', type='text/css', href='css/fixed.css')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')
  script(src='https://unpkg.com/scrollreveal')
  script(async='', defer='', src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')
.container.col-5
  h1.text-center Edit item
  each i in item
    span=item._id
    span=item.name
    span=item.url
    span=item._type
  //- form(method = "POST", action="/CRUD/edit/"+item._id )
  //-   .form-group
  //-     label(for='id') ID
  //-     input#id.form-control(type='text', name='id', value=item._id)
  //-     label(for='name') Name
  //-     input#name.form-control(type='text',  name='name', value=item.name)
  //-     label(for='url') Url
  //-     input#url.form-control(type='text', name= 'url', value=item.url)
  //-     label(for='field') Field
  //-     input#field.form-control(type='text', name='field', value=item.field)
  //-     label(for='type') Type
  //-     input#type.form-control(type='text',  name='type', value=item.type)
  //-   button.btn.btn-primary(type='submit') Submit
  