
doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='../../../../../../style.css')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')
  link(rel='icon', href='/images/logo2.jpg')

  script(src='https://unpkg.com/scrollreveal')
  script(async='', defer='', src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')
  title sv7
 
include ../component/navbar.pug

-var num = 1
if field
  h2.header-list-img.alert.alert-danger.text-center=header
.container
  .row
    if field
      each f in field
        .card.col-12.col-md-4.pt-5(style='width: 40rem;')
          div
            a(data-fancybox='gallery', href=f.url)
              img.card-img-top(src=f.url,style='width: 300px; height :  500px;' ) 
            .text-center
              h5.pt-2.text-center='Ảnh ' + num++

.col-12.container.d-flex.justify-content-center.margin-bottom-pagination
  nav(aria-label='Page navigation')
    ul.pagination
      li.page-item
        if page ==='1'
          a.page-link(href='#') Previous
        else 
          a.page-link(href='/dethi/cuoiky/'+sub + '/' +(Number(page)-1).toString()) Previous
      li.page-item
        a.page-link.active.bg-primary.text-light(href='dethi/cc/'+sub + '/' +page)=page
      li.page-item
        a.page-link(href='#') of
      li.page-item
        a.page-link(href='/dethi/cuoiky/'+sub + '/' +totalPage)=totalPage
      li.page-item
        if Number(page) === Number( totalPage )
          a.page-link(href='#') Next
        else
          a.page-link(href='/dethi/cuoiky/'+sub + '/' +(Number(page)+1).toString()) Next

include ../component/footer.pug
// script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')

