doctype html
head
  title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='../../../../style.css')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')

#cources.offset
  .fixed-background
    .row.dark.text-center
      .col-12
        h3.heading  CRUD USER 
        .heading-underline
      .col-12.mb-5
        form.search-form(action='/CRUD/managerUser/search',method="GET")
          input.search-input(type='text', name='q', placeholder='Tìm kiếm..')
          button(type="submit" )
            i.fas.fa-search
        

      if message!=''
        h3.col-12.text-center=message
      table.table.container-fluid
        tr.d-flex.align-items.center.justify-content-center
          td
            a(href='auth/register').btn.btn-success.btn-sm Add new user
            a(href='/crud').btn.btn-success.btn-sm.ml-2 Back
          td.text-white.ml-5.p-0.d-flex.align-items-center
            p='Total : '+item.length     
        tr 
          td.text-white ID
          td.text-white Name
          td.text-white Email
          td.text-white Avatar
          td.text-white Rank
          td.text-white Gender 
          td.text-white Đóng góp
        each i in item
          if item 
            tr
              td.text-white=i._id
              td.text-white=i.name
              td.text-white=i.email
              td
                a(data-fancybox='gallery', href='../../uploads/'+i.avatar)
                  img.card-img-top(src='../../uploads/'+i.avatar,style='width: 50px; height :  50px;' )
              td.text-white=i.rank
              td.text-white=i.gender
              td.text-white=i.donggop
              td
                a(href='/CRUD/editUser/'+i._id).btn.btn-sm.btn-warning.mr-2 Edit
                a(href='/CRUD/deleteUser/'+i._id).btn.btn-sm.btn-danger Delete        
        
script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
  